.allInformations {
    display: flexbox;
    color:beige;
    border-radius: 6px;
    transition: 0.3s;
    /* border: solid grey 3px; */
    text-align: center;

}

.allInformations table {
    margin: 0 auto;
}

h1 {
    font-size: 1rem;
  }

.address {
    display: flexbox;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid gray 3px;

}

.productionLines {
    display: flexbox;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid gray 3px;
    
}

.numberOfEmployees {
    display: flexbox;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid gray 3px;

}