.sites {
    display: inline-block;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid grey 3px;

}
h1 {
    font-size: 1rem;
  }

.address {
    display: inline-block;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid gray 3px;

}

.productionLines {
    display: inline-block;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid gray 3px;
    
}

.numberOfEmployees {
    display: inline-block;
    color:beige;
    height: 10rem;
    width: 30%;
    border-radius: 6px;
    transition: 0.3s;
    border: solid gray 3px;

}